* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/sunset.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.main-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 380px;
  backdrop-filter: blur(10px);
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 20px;
}

.input-container {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

input {
  height: 40px;
  width: 243px;
  border-radius: 30px;
  border: 1px solid black;
  padding-left: 10px;
}

input::placeholder {
  padding: 7px;
}

.submit-button {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

.submit-button:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, rgb(255, 117, 117), rgb(255, 255, 146));
}

nav {
  margin-bottom: 15px;
  color: #757575;
}

ul {
  list-style-type: none;
  width: 100%;
  padding: 0;
}

li {
  padding: 15px;
  border-bottom: 1px solid #757575;
}

.list-container {
  display: flex;
  height: 100%;
  width: 350px;
}

.li-container {
  display: flex;
  align-items: center;
}

.v-sign {
  height: 25px;
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid;
}

.v-sign:hover {
  cursor: pointer;
  background: linear-gradient(to bottom, rgb(255, 117, 117), rgb(255, 255, 146));
}

.full-task-container {
  display: flex;
  width: 350px;
  justify-content: space-between;
  align-items: center;
}

.x-sign:hover {
  cursor: pointer;
}